
AuthName "Please login to access RESTful API"
AuthType Basic
AuthUserFile "/var/www/html/stockanalyses-web/.htpasswd"

Require expr %{REQUEST_URI} =~ m#^/api/.*#
Require valid-user

# Enable rewrite engine and route requests to framework
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L,QSA]
