<script type="text/javascript">
$(document).ready(function () {
  //called when key is pressed in textbox
  $("#inputQuantity").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
       $('#check-1').addClass('has-error has-feedback');
        //display error message
        $("#errmsg").html("Digits Only").show().fadeOut("slow");
               return false;
     } else {
       $('#check-1').removeClass('has-error').addClass('has-success');
     }
   });
});
</script>
<form action="{{ @BASE.'/portfolio/detail/'.@PARAMS.id.'/create' }}" method="post" class="form-horizontal">
  <div class="form-group">
    <label for="InputBasetype" class="col-sm-2 control-label text-capitalize">{{ @basetype }}</label>
    <div class="col-sm-8">
      <select name="basetype" class="form-control">
        <!-- <option value="stock">{{ @stock }}</option> -->
        <option value="currency">{{ @currency }}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="InputBase" class="col-sm-2 control-label text-capitalize">{{ @base }}</label>
    <div class="col-sm-8">
      <select name="base" class="form-control">
        <repeat group="{{ @currencies }}" value="{{ @currency2 }}">
          <option value="{{ @currency2.symbol_currency }}">{{ @currency2.currency_name }}</option>
        </repeat>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="InputQuotetype" class="col-sm-2 control-label text-capitalize">{{ @quotetype }}</label>
    <div class="col-sm-8">
      <select name="quotetype" class="form-control">
        <option value="currency">{{ @currency }}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="InputQuote" class="col-sm-2 control-label text-capitalize">{{ @quote }}</label>
    <div class="col-sm-8">
      <select name="quote" class="form-control">
        <repeat group="{{ @currencies }}" value="{{ @currency3 }}">
          <option value="{{ @currency3.symbol_currency }}">{{ @currency3.currency_name }}</option>
        </repeat>
      </select>
    </div>
  </div>
  <div class="form-group" id="check-1">
    <label for="InputQuantity" class="col-sm-2 control-label text-capitalize">{{ @quantity }}</label>
    <div class="col-sm-8">
      <input type="text" name="quantity" class="form-control text-capitalize" id="inputQuantity" placeholder="{{ @quantity }}">
      <span id="helpBlock" class="help-block">{{ @digits_only}}</span>
    </div>
  </div>
  <div class="control-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="hidden" name="create" value="create">
      <button id="save" type="submit" class="btn btn-primary text-capitalize"><i class="icon-ok icon-white"></i> {{ @add }}</button>
      <a href="{{ @BASE.'/' }}" class="btn btn-default text-capitalize" role="button"> {{ @cancel }}</a>
    </div>
  </div>
</form>
