            </div>
            <footer class="footer">
                <div class="container">
                    <p class="text-muted">&#169; 2015 - 
                        <span id="copyright">
                            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                        </span>
                        stockanalyses    |   Version: 0.1.0 | <a href="mailto:support@it4s.eu?Subject=Verwaltungskonsole" target="_top"><span class="text-capitalize">{{ @support_request }}</span></a></p>
                </div>
            </footer>
	</body>
</html>
